.ridesTable tbody tr:hover {
    color: white;
    background-color: rgb(102, 141, 199);
    cursor: pointer;
}

table {
    width: 100%;
    margin-bottom: 5%;
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table thead {
    color: white;
    vertical-align: top;
    background-color: rgb(126, 132, 218);
}

table th {
    font-size: 1.5vh;
    height: 2vh;
    padding-top: 1%;
}

table tbody tr:nth-child(odd) {
    background-color: rgb(231, 231, 231);
}

table thead tr:nth-child(2) {
    border-bottom: 2px solid black;
}

table tbody {
    text-align: center;
}

table td {
    height: 3vh;
}