.user-menu {
    position: relative;
}

.avatar {
    padding: 6px 10px;
    border: 2px solid black;
    border-radius: 20%;
    background-color: rgb(70, 70, 255);
    color: white;
    cursor: pointer;
}

.avatar:hover {
    background-color: deepskyblue;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;

    width: 220px;
    background: white;

    border: 1px solid #ccc;
    border-radius: 8px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 1000;

    display: flex;
    flex-direction: column;
}

.user-info {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    text-align: center;
    line-height: 2em;
}

.dropdown button {
    all: unset;           
    display: block;
    width: 100%;

    box-sizing: border-box;

    padding: 12px 0 12px 10px;
    cursor: pointer;

    font: inherit;
    text-align: left;
}
.dropdown button:hover {
    background-color: #b9b4b4;
}

.dropdown button:not(:last-child) {
    border-bottom: 1px solid #eee;
}